[project]
	description = Ansible role for installing moongen
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/zenghui (zshi-redhat)
[access "refs/for/refs/*"]
	read = group user/zenghui (zshi-redhat)
	push = group user/zenghui (zshi-redhat)
	label-Code-Review = -2..+2 group user/zenghui (zshi-redhat)
	label-Verified = -1..+1 group user/zenghui (zshi-redhat)
	rebase = group user/zenghui (zshi-redhat)
	removeReviewer = group user/zenghui (zshi-redhat)
	submit = group user/zenghui (zshi-redhat)
[access "refs/heads/*"]
	read = group user/zenghui (zshi-redhat)
	create = group user/zenghui (zshi-redhat)
	push = +force group user/zenghui (zshi-redhat)
	pushMerge = group user/zenghui (zshi-redhat)
[access "refs/tags/*"]
	push = +force group user/zenghui (zshi-redhat)
	pushTag = group user/zenghui (zshi-redhat)
	pushSignedTag = group user/zenghui (zshi-redhat)
